@charset "utf-8";
/* CSS Document */

/** profile_comments clears the profile commments from the page **/
div#profile_comments {
  display:none;
}
/** clears the footer bar **/
div#footer_bar {
  display:none;
}
/** Profile header clears the avatar section at the top of the page **/
div#profile_header{
  display:none;
}
/** Header Bar clears the MFC links at the top of the page **/
div#header_bar{
  display:none;
}
/** profile_photo_galleries clears the photo galeries on the page **/
  /** Using this you will no longer be able to sell picture sets from your profile **/
div#profile_photo_galleries{
  display:none;
}
/** Hides about info **/
.heading, div#username_container, div#gender_container,
div#body_type_container, div#ethnicity_container, div#hair_container,
div#eyes_container, div#age_container, div#country_container,
div#sexual_preference_container, div#smoke_container, div#drink_container,
div#drugs_container, div#marital_status_container, div#occupation_container,
div#school_container, span#about_me_label{
  display: none;
}
/** Hides avergae rating, rate and admiers **/
div#average_rating_container, div#rate_container, div#admirers_container, div#friends_container, div#favorite_models_container{
  display:none;
}
/** hides comment section **/
div#profile_comments{
  display:none;
}
/** /Mfc Classes **/
